@import "tailwindcss";

@theme {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
}

html,
body {
  overflow: overlay;
  @apply h-screen w-screen bg-background text-text underline-offset-4;
}

a {
  @apply underline-offset-8 transition-opacity active:opacity-50;
}

.overflow-primary::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

*::-webkit-scrollbar {
  @apply w-3 h-2;
}

*::-webkit-scrollbar-button {
  @apply hidden;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-paper rounded-full;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}
