@import "tailwindcss";

@theme {
  --color-text: #ffffff;
  --color-error: #980000;
  --color-paper: #232323;
  --color-primary: #009688;
  --color-background: #000000;
  --color-primary-contrast: #ffffff;
}

html,
body {
  @apply h-screen w-screen bg-background text-text underline-offset-4;
}

a {
  @apply underline-offset-8 transition-opacity active:opacity-50;
}
